body {
    height: 100vh;
    width: 100vw;
}

#content {
    width: 500px;
}

a {
    text-decoration: none !important;
}
  
button, button:focus, button:active, input:focus, input {
    box-shadow: none !important;
    border-color: none !important;
}