* {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}

a {
  text-decoration: none !important;
}

button, button:focus, button:active, input:focus, input {
  box-shadow: none !important;
  border-color: none !important;
}

/*# sourceMappingURL=home.css.map */
